/nbproject/
/KhanzaHMSServiceSatuSehat/build/
/KhanzaHMSServiceSatuSehat/nbproject/private/
/KhanzaHMSServiceSatuSehat/dist/
/dist/
/KhanzaAntrianLoket/dist/
/KhanzaHMSServiceMobileJKN/dist/
/KhanzaHMSServiceMobileJKNERM/dist/
